#annotation_title .title {
  font-size: 30px;
  text-align: center;
}
#annotation_title .subtitle {
  font-size: 23px;
  text-align: center;
}
#annotation_title .subtitle.negative {
  color: darkgray;
}
#annotation_workspace .limit-height {
  max-height: 67vh;
}
#annotation_workspace .btn-selected {
  border: 2px solid blue !important;
  box-shadow: 0 0 10px rgba(0,0,255,0.5);
}
#annotation_workspace .tip-text {
  font-size: 20px;
}
#annotation_workspace .tip-text.right {
  text-align: right;
}
#annotation_workspace .btn-label {
  font-size: 22px;
}
.bottom-state .bottom-state-session {
  text-align: left;
}
.bottom-state .bottom-state-assistant {
  font-weight: bold;
}
.bottom-state .bottom-state-save-time {
  text-align: right;
}
#squash_workspace .tip-text {
  font-size: 20px;
}
#squash_workspace .tip-text.right {
  text-align: right;
}