#annotation_title {
  .title {
    font-size: 30px;
    text-align: center;
  }

  .subtitle {
    font-size: 23px;
    text-align: center;

    &.negative {
      color: darkgray;
    }
  }
}

#annotation_workspace {
  .limit-height {
    max-height: 67vh;
  }

  .btn-selected {
    border: 2px solid blue !important;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  }

  .tip-text {
    font-size: 20px;

    &.right {
      text-align: right;
    }
  }

  .btn-label {
    font-size: 22px;
  }
}

.bottom-state {
  .bottom-state-session {
    text-align: left;
  }

  .bottom-state-assistant {
    font-weight: bold;
  }

  .bottom-state-save-time {
    text-align: right;
  }
}

#squash_workspace {
  .tip-text {
    font-size: 20px;

    &.right {
      text-align: right;
    }
  }
}